<% include ../layouts/header.ejs %>
<!-- Begin page content -->
<body class="dw-blue-3">
    <main>
    <div class="container">
        <div class="row">
            <div class="col s12 m10 l8 offset-l2 offset-m1" style="margin-top: 2%">
                <div class="center-align">
                    <img src="../images/fav.png" style="height: 25%; width: 25%;">
                </div>
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab dw-blue-1">
                                <a href="#login" class="left-align white-text">
                                    Please login in
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="login">
                            <div class="row">

                                <form class="col s12" action="/auth" method="POST" autocomplete="off" onsubmit="return validateLoginForm();">
                                    <div class="row">

                                        <div class="input-field col s6">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input name="returnTo" type="hidden" value="<%= returnTo %>">
                                            <input id="email" type="text" name="email" class="validate">
                                        </div>
                                        <div class="input-field col s6">
                                            <select name="address" id="address">
                                                <option> @deerwalk.edu.np </option>
                                                <option> @sifal.deerwalk.edu.np </option>
                                                <option> @deerwalkcompware.com </option>
                                            </select>
                                        </div>
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="password" type="password" name="password" class="validate">
                                        </div>

                                        <div class="input-field col s12 center">
                                            <button id="submit" type="submit" class="dw-green-1 btn waves-effect">
                                                Login
                                            </button>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    </main>
</body>
<script>
    let message = '<%=message%>'
    let messageType = '<%=messageType%>'
    if (message===''||message=== null||typeof message==='undefined'){

    }else{
        displayMessage(message, messageType, 4000)
    }
</script>
<% include ../layouts/footer.ejs %>
