<%include ../layouts/header.ejs %>
<%include ../layouts/navbar.ejs %>

<body>
<main>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l10 m10 s10 offset-s1 offset-m1 offset-l1">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab dw-green-1">
                                <a href="#create" class="left-align white-text">
                                    Create New Award
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="create">
                            <div class="row">
                                <form class="col s12" method="get" action="save">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">verified_user</i>
                                            <input id="title" name="title" type="text" class="validate">
                                            <label for="title">Title</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l6 m6 s12">
                                            <select id="iconName" name="iconName" onchange="displaySample()">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="nature">Nature</option>
                                                <option value="grade">Grade</option>
                                                <option value="tag_faces">Tag Faces</option>
                                                <option value="pan_tool">Pan Tool</option>
                                                <option value="perm_camera_mic">Perm Camera Mic</option>
                                                <option value="polymer">Polymer</option>
                                                <option value="public">Public</option>
                                                <option value="redeem">Redeem</option>
                                                <option value="school">School</option>
                                                <option value="spa">Spa</option>
                                                <option value="stars">Stars</option>
                                                <option value="star_border">Star Border</option>
                                                <option value="thumb_up">Thumb Up</option>
                                                <option value="toys">Toys</option>
                                                <option value="verified_user">Verified User</option>
                                                <option value="watch">Watch</option>
                                                <option value="wb_sunny">WB Sunny</option>
                                                <option value="whatshot">Whatshot</option>
                                            </select>
                                            <label for="iconName">Select Icon</label>
                                        </div>
                                        <div class="input-field col l6 m6 s12">
                                            <select id="iconColor" name="iconColor" onchange="displaySample()">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="green">Green</option>
                                                <option value="red">Red</option>
                                                <option value="blue">Blue</option>
                                                <option value="yellow">Yellow</option>
                                                <option value="pink">Pink</option>
                                                <option value="purple">Purple</option>
                                                <option value="indigo">Indigo</option>
                                                <option value="cyan">Cyan</option>
                                                <option value="amber">Amber</option>
                                                <option value="orange">Orange</option>
                                            </select>
                                            <label for="iconColor">Select Color</label>
                                        </div>
                                        <div id="sample" class="input-field col l12 m12 s12 center-align">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 center">
                                            <button id="submit" type="submit" class="dw-blue-1 btn waves-effect">
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<%include ../layouts/footer.ejs %>