<%include ../layouts/header.ejs %>
<%include ../layouts/navbar.ejs %>

<body onload="displaySample();">
<main>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab dw-blue-1">
                                <a class="left-align white-text">
                                    Edit Award
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div id="create">
                            <div class="row">
                                <form class="col s12" method="get" action="/award/update" onsubmit="return validateAward();">
                                    <input type="hidden" value="<%=award.id%>" name="id" id="id"/>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">assessment</i>
                                            <input id="title" name="title" type="text" class="validate" value="<%=award.title%>">
                                            <label for="title">Award Title</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l6 m6 s12">
                                            <select id="iconName" name="iconName" onchange="displaySample()">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="nature" <% if(award.iconName == 'nature'){ %> selected="true" <%}%>>Nature</option>
                                                <option value="grade" <% if(award.iconName == 'grade'){ %> selected="true" <%}%>>Grade</option>
                                                <option value="tag_faces" <% if(award.iconName == 'tag_faces'){ %> selected="true" <%}%>>Tag Faces</option>
                                                <option value="pan_tool" <% if(award.iconName == 'pan_tool'){ %> selected="true" <%}%>>Pan Tool</option>
                                                <option value="perm_camera_mic" <% if(award.iconName == 'perm_camera_mic'){ %> selected="true" <%}%>>Perm Camera Mic</option>
                                                <option value="polymer" <% if(award.iconName == 'polymer'){ %> selected="true" <%}%>>Polymer</option>
                                                <option value="public" <% if(award.iconName == 'public'){ %> selected="true" <%}%>>Public</option>
                                                <option value="redeem" <% if(award.iconName == 'redeem'){ %> selected="true" <%}%>>Redeem</option>
                                                <option value="school" <% if(award.iconName == 'school'){ %> selected="true" <%}%>>School</option>
                                                <option value="spa" <% if(award.iconName == 'spa'){ %> selected="true" <%}%>>Spa</option>
                                                <option value="stars" <% if(award.iconName == 'stars'){ %> selected="true" <%}%>>Stars</option>
                                                <option value="star_border" <% if(award.iconName == 'star_border'){ %> selected="true" <%}%>>Star Border</option>
                                                <option value="thumb_up" <% if(award.iconName == 'thumb_up'){ %> selected="true" <%}%>>Thumb Up</option>
                                                <option value="toys" <% if(award.iconName == 'toys'){ %> selected="true" <%}%>>Toys</option>
                                                <option value="verified_user" <% if(award.iconName == 'verified_user'){ %> selected="true" <%}%>>Verified User</option>
                                                <option value="watch" <% if(award.iconName == 'watch'){ %> selected="true" <%}%>>Watch</option>
                                                <option value="wb_sunny" <% if(award.iconName == 'wb_sunny'){ %> selected="true" <%}%>>WB Sunny</option>
                                                <option value="whatshot" <% if(award.iconName == 'whatshot'){ %> selected="true" <%}%>>Whatshot</option>
                                            </select>
                                            <label for="iconName">Select Icon Name For Award</label>
                                        </div>
                                        <div class="input-field col l6 m6 s12">
                                            <select id="iconColor" name="iconColor" onchange="displaySample()">
                                                <option value="" disabled selected>Choose your option</option>
                                                <option value="white" <% if(award.iconColor == 'white'){ %> selected="true" <%}%>>White</option>
                                                <option value="green" <% if(award.iconColor == 'green'){ %> selected="true" <%}%>>Green</option>
                                                <option value="red" <% if(award.iconColor == 'red'){ %> selected="true" <%}%>>Red</option>
                                                <option value="blue" <% if(award.iconColor == 'blue'){ %> selected="true" <%}%>>Blue</option>
                                                <option value="yellow" <% if(award.iconColor == 'yellow'){ %> selected="true" <%}%>>Yellow</option>
                                                <option value="pink" <% if(award.iconColor == 'pink'){ %> selected="true" <%}%>>Pink</option>
                                                <option value="purple" <% if(award.iconColor == 'purple'){ %> selected="true" <%}%>>Purple</option>
                                                <option value="indigo" <% if(award.iconColor == 'indigo'){ %> selected="true" <%}%>>Indigo</option>
                                                <option value="cyan" <% if(award.iconColor == 'cyan'){ %> selected="true" <%}%>>Cyan</option>
                                                <option value="amber" <% if(award.iconColor == 'amber'){ %> selected="true" <%}%>>Amber</option>
                                                <option value="orange" <% if(award.iconColor == 'orange'){ %> selected="true" <%}%>>Orange</option>
                                            </select>
                                            <label for="iconColor">Select Color of Icon For Award</label>
                                        </div>
                                        <div id="sample" class="input-field col l12 m12 s12 center-align">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12 center">
                                            <button id="submit" type="submit" class="dw-blue-1 btn waves-effect">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<%include ../layouts/footer.ejs %>