<footer class="page-footer transparent">
    <div class="footer-copyright dw-blue-1">
        <div class="container">
            © <script language="JavaScript" type="text/javascript">
                now = new Date
                theYear = now.getYear()
                if (theYear < 1900)
                    theYear = theYear + 1900
                document.write(theYear)
            </script> DWIT
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../javascripts/materialize.min.js"></script>
</html>

