<footer class="footer bg-blue">
    <div class="container">
        <span class="text-white"> &copy; 2018 My Goals</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
<script type="text/javascript" src="/javascripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!--<script type="text/javascript" src="/javascripts/custom.js"></script>-->
<!--<script type="text/javascript" src="/javascripts/datatables.min.js"></script>-->
</body>
</html>