<footer class="page-footer transparent">
    <div class="footer-copyright dw-blue-1">
        <div class="container">
            © <script language="JavaScript" type="text/javascript">
                now = new Date
                theYear = now.getYear()
                if (theYear < 1900)
                    theYear = theYear + 1900
                document.write(theYear)
            </script> DWIT
            <!--<a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
        </div>
    </div>
</footer>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../javascripts/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../javascripts/jquery.noty.packaged.min.js"></script>
<script type="text/javascript" src="../javascripts/jquery-ui.js"></script>
<script type="text/javascript" src="../javascripts/materialize.min.js"></script>
<script type="text/javascript" src="../javascripts/script.js"></script>
<script type="text/javascript" src="../javascripts/datatables.min.js"></script>
<script>
</script>
</html>

