<header>
<nav>
    <div class="nav-wrapper dw-blue-2">
        <a class="brand-logo">
            <img src="../images/deerwalk_goals-01.png" style="height: auto; width: 200px;">
        </a>
        <ul class="right hide-on-med-and-down" style="margin-right: 3%;">
            <li>
                <a>
                    <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Go Back" onclick="window.history.back();">reply_all</i>
                </a>
            </li>
            <li>
                <a href="/<%= sess.role.toLocaleLowerCase() %>/dashboard">
                    <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Dashboard">view_module</i>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Logout">power_settings_new</i>
                </a>
            </li>
        </ul>
    </div>
</nav>
</header>