<% include layouts/header.ejs %>
<!-- Begin page content -->
<body class="blue-grey darken-4">
    <main>
    <div class="container">
        <div class="row center">
            <div class="s12 m4 l4 offset-l4 offset-m4">
                <div class="row">
                    <div class="s12 m12 l12">
                        <div class="card">
                            <div class="card-content black-text">
                                <span class="card-title">Please sign in</span>

                            </div>
                            <div class="card-action">
                                <input type="submit" class="btn blue" value="Sign in">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
</body>

