<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<body class="bg">
<main>
<div class="container">
    <div class="row">
        <div class="col l12 s12 m12">

        </div>
    </div>
</div>
</main>
</body>

<% include ../layouts/footer.ejs %>