<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<body class="bg">
<br><br>
<main>
    <div class="container">
        <div class="row">
            <div class="col offset-l2 l8 offset-m2 m8 s12">
                <div class="card">
                    <div class="card-tabs">
                        <ul class="tabs tabs-fixed-width">
                            <li class="tab dw-blue-1">
                                <a class="left-align white-text">
                                    <i class="material-icons">edit</i> <span class="tab-header"> Change Password </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12" action="/user/updatePassword" method="POST" autocomplete="off">
                                <div class="row">
                                    <input type="hidden" value="<%= user.id %>" name="id" id="id"/>
                                    <div class="input-field col l12 m12 s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="oldPassword" name="oldPassword" type="password" class="validate" onkeydown="checkPassword(<%= user.id %>, this.value);" required>
                                        <label for="oldPassword">Old Password</label>
                                        <span id="resultOld"></span>
                                    </div>

                                    <div class="input-field col l12 m12 s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="newPassword" name="newPassword" type="password" class="validate" onchange="confirmPassword();" required>
                                        <label for="newPassword">New Password</label>
                                    </div>

                                    <div class="input-field col l12 m12 s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="rePassword" name="rePassword" type="password" class="validate" onchange="confirmPassword();" required>
                                        <label for="rePassword">Re-Password</label>
                                        <span id="resultRe"></span>
                                    </div>
                                    <div class="input-field col s12 center">
                                        <button id='updatePasswordBtn' type='submit' class='dw-blue-1 btn waves-effect' disabled>
                                            Update Password
                                        </button>
                                    </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
<script>
    let message = '<%=message%>'
    let messageType = '<%=messageType%>'
    if (message===''||message=== null||typeof message==='undefined'){

    }else{
        displayMessage(message, messageType, 4000)
    }
</script>
<% include ../layouts/footer.ejs %>
