<% include ../layouts/header.ejs %>
<% include ../layouts/navbar.ejs %>
<body class="bg">
<br><br>
<main>
    <div class="container">
        <div class="row">
            <% if (manager) { %>
            <h6>
                Manager: <img src="../images/user.png" style="height: 4%; width: 4%; margin-bottom: -1%;"
                              class="tooltipped" data-position="right" data-tooltip="<%= manager.name %>">
            </h6>
            <% } %>
        </div>
        <div class="row">
            <div class="col l12 m12 s12 center-align">
                <img src="../images/user.png" style="height: 25%; width: 25%;">
                <h4> <%= user.name %> </h4>
            </div>
        </div>
        <div class="row">
            <h6>
                Subordinates <img src="../images/user.png" style="height: 4%; width: 4%; margin-bottom: -1%;"> <img src="../images/user.png" style="height: 4%; width: 4%; margin-bottom: -1%;">
            </h6>
        </div>
        <div class="row">
            <h6>
                Achievements
            </h6>
        </div>
        <div class="row">
            <h4 class="center-align"> All Goals </h4>
            <hr>
        </div>
    </div>
</main>
</body>

<% include ../layouts/footer.ejs %>